<div class="form-group row">
  <label class="col-sm-3 control-label" ng-show="label" ng-class="{'has-error': (ngRequired && (ngModel==null || ngModel==undefined || ngModel==''))}">{{label}}</label>
  <div ng-if="beingEdited" ng-switch="" on="htmlFormElement" class="col-sm-9" ng-class="{'has-error': (ngRequired && (ngModel==null || ngModel==undefined || ngModel==''))}">
    <div ng-switch-when="textReadOnly">
      {{$parent.$parent.ngModel}}
    </div>
    <div ng-switch-when="text">
      <input class="form-control" type="text" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" ng-change="ngChange()" minlength="{{$parent.$parent.ngMinlength}}" maxlength="{{$parent.$parent.ngMaxlength}}"/>
    </div>
    <div ng-switch-when="number">
      <input class="form-control" type="number" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" ng-change="ngChange()" min="{{min}}"/>
    </div>
    <div ng-switch-when="textarea">
      <textarea class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" maxlength="{{$parent.$parent.ngMaxlength}}"></textarea>
    </div>
    <div ng-switch-when="phone">
      <input type="tel" class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" maxlength="{{$parent.$parent.ngMaxlength}}"/>
    </div>
    <div ng-switch-when="email">
      <input type="email" class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}"/>
    </div>
    <div ng-switch-when="tckimlik">
      <input class="form-control" type="text" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-pattern="/^[0-9]*$/" ng-required="$parent.$parent.ngRequired" placeholder="{{placeholder}}" ng-change="ngChange()" minlength="{{$parent.$parent.ngMinlength}}" maxlength="{{$parent.$parent.ngMaxlength}}"/>
    </div>
    <div ng-switch-when="gender">
      <select style="font-size:14px" class="{{$parent.$parent.ngModel ? '' : 'red-border'}} form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-required="$parent.$parent.ngRequired">
        <option value="K">Kadın</option>
        <option value="E">Erkek</option>
        <option value="U">Belirtilmemiş</option>
      </select>
    </div>
    <div ng-switch-when="date">
      <input type="date" class="form-control" name="{{name}}" ng-model="$parent.$parent.ngModel" ng-change="ngChange()" ng-required="$parent.$parent.ngRequired"/>
    </div>
    <div ng-switch-when="employeeReadOnly">
      <a href="#!/employee/{{$parent.$parent.ngModel._id}}" class="text-danger form-control-item"><i class="fa fa-user"></i> {{$parent.$parent.ngModel.fullName}}</a>
    </div>
  </div>
  <span ng-if="!beingEdited" ng-switch="" on="htmlFormElement" class="col-sm-9">
        <div ng-switch-when="textReadOnly">
            {{$parent.$parent.ngModel}}
        </div>
        <div ng-switch-when="text">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="number">
            <span>{{$parent.$parent.ngModel}}</span><span ng-if="$parent.$parent.quantity">{{$parent.$parent.quantity}}</span>
        </div>
        <div ng-switch-when="textarea">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="phone">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="email">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="tckimlik">
            <span>{{$parent.$parent.ngModel}}</span>
        </div>
        <div ng-switch-when="gender">
            <span>{{$parent.$parent.ngModel | gender}}</span>
        </div>
        <div ng-switch-when="age">
            <span>{{$parent.$parent.ngModel | age}}</span>
        </div>
        <div ng-switch-when="date">
            <span>{{$parent.$parent.ngModel | formatDateToDDMMYYYY}}</span>
        </div>
        <div ng-switch-when="employeeReadOnly">
            <a href="#!/employee/{{$parent.$parent.ngModel._id}}" class="text-danger form-control-item"><i class="fa fa-user"></i> {{$parent.$parent.ngModel.fullName}}</a>
        </div>
    </span>
</div>